*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.first-wrapper button,
.second-wrapper button,
.third-wrapper button,
.fourth-left-wrapper button,
.fifth-right-wrapper button,
.sixth-left-wrapper button,
.seventh-right-wrapper button,
.eighth-left-wrapper button,
.nineth-right-wrapper button{
    font-size: 15px;
    background: #06c;
    color: white;
    border-radius: 30px;
    height: 37px;
    padding: 0 20px;
}
.second-wrapper .buy{
    color: #06c;
    background: black;
}
.third-wrapper .buy{
    color: #06c;
    background: #f1f1f1;
}
.footer-computer-links-wrapper {
    display: none;
}
.collector{
    display: none;
}
/*header*/
.header-wrapper{
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    color: black;
    font-weight: 200;
    font-size: 13px;
    opacity: 0.9;
    z-index: 10;
}
.internal-wrapper{
    height: 100%;
    padding: 0 10px 0 15px;
}
.header-wrapper .internal-wrapper > ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    color: black;
}
.header-wrapper .internal-wrapper > ul > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
    color: black;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;

}
.header-wrapper .internal-wrapper > ul > li:hover{
    opacity: 1;
}
.header-wrapper .internal-wrapper > ul > li.wide-screen-appear{
    display: none;
}
.logo-link img,
.search-link img,
.cart-link img,
.menu-link img{
    width: 18px;
    display: block;
}
.search-link img,
.menu-link img{
    padding:3px 0;
}
.logo-link{
    margin-right: auto;
}
.header-wrapper a{
    color: white;
    text-decoration: none;
}
.menu-link details{
    position: relative;
}
.menu-link summary{
    cursor: pointer;
    list-style: none;
}
.menu-link summary::-webkit-details-marker{
    display: none;
}
.mobile-menu{
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background: rgb(250, 247, 247);
    color: black;
    list-style: none;
    padding: 20px 40px 30px;
}

.mobile-menu > li >a{
    color: black;
}
.mobile-menu li{
    padding: 12px 0;
    font-size: 1.6em;
    font-weight: 500;
}
/*1st Wrapper*/
.first-wrapper{
    padding-top: 80px;
    color: rgb(0, 0, 0);
    background-color: white;
    background-image: url(../img/home/fathers_day.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    margin-bottom: 10px;
}
.first-wrapper .header{
    font-size: 30px;
    padding-bottom:10px;
}
.first-text-wrapper{
    font-size: 20px;
    font-weight: 400;
    padding-bottom:10px;
}
/*second-wrapper*/
.second-wrapper{
    padding-top: 50px;
    color: black;
    background-color: white;
    background-image: url(../img/home/hero_college_students_small_2x.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}
.second-text-wrapper{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}
.second-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*third-wrapper*/
.third-wrapper{
    padding-top: 40px;
    color: black;
    background-image: url(../img/home/hero_privacy_small_2x.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}

.third-text2-wrapper{
    font-size: 17px;
    color: white;
}
.third-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*fourth-left-wrapper*/
.fourth-left-wrapper{
    padding-top: 50px;
    color: black;
    background-image: url(../img/home/promo_iphone_family_small_2x.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}
.fourth-text-wrapper{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}
.fourth-text2-wrapper{
    font-size: 20px;
}
.fourth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.fourth-left-wrapper .buy{
    color: #06c;
    background: white;
}
/*fifth-right-wrapper*/
.fifth-right-wrapper{
    padding-top: 50px;
    color: black;
    background-image: url(../images/apple/macbook-air.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}
.fifth-text-wrapper{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}
.fifth-text2-wrapper{
    font-size: 20px;
}
.fifth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.fifth-right-wrapper .buy{
    background: none;
    color: #06c;
}
.fifth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*sixth-left-wrapper*/
.sixth-left-wrapper{
    padding-top: 50px;
    color: black;
    background-image: url(../images/apple/ipad-air.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}
.sixth-text-wrapper{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}
.air{
    font-family: cursive;
    color: #06c;
}
.sixth-text2-wrapper{
    font-size: 20px;
}
.sixth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.sixth-left-wrapper .buy{
    background: none;
    color: #06c;
}
.sixth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*seventh-right-wrapper*/
.seventh-right-wrapper{
    padding-top: 50px;
    color: white;
    background-image: url(../img/home/promo_macbook_pro.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}
.seventh-text-wrapper{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}

.seventh-text2-wrapper{
    font-size: 20px;
}
.seventh-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.seventh-right-wrapper .buy{
    background: none;
    color: #06c;
}
.seventh-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*eighth-left-wrapper*/
.eighth-left-wrapper{
    padding-top: 50px;
    color: black;
    background-image: url(../images/apple/two-iphone.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}
.eighth-text-wrapper{
    font-size: 30px;
    padding-bottom: 10px;
}

.eighth-text2-wrapper{
    font-size: 20px;
}
.eighth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.eighth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
/*nineth-right-wrapper*/
.nineth-right-wrapper{
    padding-top: 50px;
    color: black;
    background-image: url(../img/home/promo_apple_card_small_2x.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
}
.nineth-text-wrapper{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}

.nineth-text2-wrapper{
    font-size: 20px;
}
.nineth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.nineth-right-wrapper .apply{
    background: none;
    color: #06c;
}
.nineth-button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/*footer-wrapper*/
.footer-wrapper{
    background: #f5f5f7;
    font-size: .65em;
    color: #1d1d1f;
    font-size: .65em;
    margin-bottom: 10px;
}

.term-and-condition{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #515154;
}
.term-and-condition a{
    text-decoration: none;
    color: #515154;
}
.term-and-condition a:hover{
    text-decoration: underline;
}
.footer-links-wrapper{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
details summary{
    list-style: none;
}
.parent-wrapper{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}
.parent-wrapper:after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f107";
    margin-left: auto;
}
.footer-links-wrapper ul li{
    padding: 15px 0 15px 0;
}
.footer-links-wrapper ul{
    list-style: none;
}
.footer-links-wrapper ul a{
    text-decoration: none;
    color: #515154;
    padding-left: 15px;
}
.footer-links-wrapper ul a:hover{
    text-decoration: underline;
}
.footer-text-wrapper{
    padding: 15px 0 8px;
}
.footer-text-wrapper a{
    color: #06c;
}
.footer-country-name{
    padding: 7px 0 8px;
}
.footer-copyright{
    padding: 7px 0 8px;
}
.footer-links-wrapper2 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer-links-wrapper2 ul li{
    display: inline-block;
    padding: 0 2vw;
    border-right: 1px solid #1d1d1f;
}
.footer-links-wrapper2 ul li:last-child{
    border-right: 0px;
}
.footer-links-wrapper2 ul a{
    text-decoration: none;
    color: #515154;
}
.footer-links-wrapper2 ul a:hover{
    text-decoration: underline;
    color: #1d1d1f;
}
@media(min-width:768px){
    .header-wrapper{
        color: black;
        background-color: white;
    }
    .internal-wrapper{
        max-width: 980px;
        padding: 0 10px;
        margin: 0 auto;
    }
    .first-wrapper{
        background-image: url(../img/home/media_full/fathers-banner.jpg);
        height: 580px;
        background-position: center;
        background-repeat: no-repeat;
        object-fit:cover;
        background-size:cover;
        justify-content: flex-end;  
        text-align: center; 
        padding: 60px 0 30px 0;
        margin-bottom: 10px;
        margin-top: 37px;
    }
    .first-wrapper .header{
        font-size: 48px;
        padding-bottom:10px;
    }

    .first-text-wrapper{
        font-size: 28px;
    }
    .second-wrapper{
        background-image: url(../img/home/media_full/college_large.jpg);
        height: 580px;
        margin-bottom: 10px;
    }
    .second-text-wrapper{
        font-size: 48px;
    }
    .second-text2-wrapper{
        font-size: 28px;
    }
    .third-wrapper{
        height: 580px;
        margin-bottom: 10px;
    }

    .third-text-wrapper{
        font-size: 48px;
    }
    .third-text2-wrapper{
        font-size: 28px;
    }
    
    .fourth-fifth-wrapper,
    .sixth-seventh-wrapper,
    .eighth-nineth-wrapper{
        height: 580px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0 10px 0 10px;
        margin-bottom: 10px;
    }
    .fourth-fifth-wrapper .fourth-left-wrapper,
    .fourth-fifth-wrapper .fifth-right-wrapper,
    .sixth-seventh-wrapper .sixth-left-wrapper,
    .sixth-seventh-wrapper .seventh-right-wrapper,
    .eighth-nineth-wrapper .eighth-left-wrapper,
    .eighth-nineth-wrapper .nineth-right-wrapper{
        height: 580px;
        width: 50%;
    }
    .footer-links-wrapper {
        display: none;
    }
    .footer-computer-links-wrapper {
        display: contents;
    }
    .footer-computer-links-wrapper{
        display: flex;
        justify-content: space-between;
    }
    h3{
        padding-bottom: 15px;
    }
    .footer-computer-links-wrapper li{
        padding-bottom: 15px;
    }
    .footer-computer-links-wrapper ul{
        list-style: none;
    }
    .footer-computer-links-wrapper ul a{
        text-decoration: none;
        color: #515154;
    }
    .footer-computer-links-wrapper ul a:hover{
        text-decoration: underline;
    }
    .footer-country-name{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .collector{
        display: flex;
        justify-content: space-between;
    }
    .mobile{
        display: none;
    }
    .footer-links-wrapper2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-links-wrapper2 ul li{
        padding: 0 10px;
    }
    .header-wrapper .internal-wrapper > ul > li.wide-screen-appear{
        display: flex;
    }
    .header-wrapper .internal-wrapper > ul > li.menu-link{
        display: none;
    }
}